<footer class="rodape_desktop">
    <table>
        <thead>
            <tr>
                <th>Código - Vin</th>
                <th>Odômetro</th>
                <th>Nivel de Combustivel</th>
                <th>Status</th>
                <th>Lat.</th>
                <th>Long.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text"></td>
                <td>
                    <p>50000 Km</p>
                </td>
                <td>
                    <p>90 %</p>
                </td>
                <td>
                    <p>On</p>
                </td>
                <td>
                    <p>-12,2322</p>
                </td>
                <td>
                    <p>-35,2314</p>
                </td>
            </tr>
        </tbody>
    </table>
</footer>

<footer class="rodape_mobile">
    <table>
        <tbody>
            <tr>
                <th>Código - Vin</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Odômetro</th>
                <td><p>50000 Km</p></td>
            </tr>
            <tr>
                <th>Nivel de Combustivel</th>
                <td><p>90 %</p></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><p>On</p></td>
            </tr>
            <tr>
                <th>Lat.</th>
                <td><p>-12,2322</p></td>
            </tr>
            <tr>
                <th>Long.</th>
                <td><p>-35,2314</p></td>
            </tr>
        </tbody>
    </table>
</footer>