<app-header></app-header>
<main>
    <section>
        <div class="area_titulo">
            <h1>Dashboard FORD</h1>
        </div>
        <div class="area_cards">
            <article class="card" id="card_veiculo">
                <div class="header_card">
                    <h3>Veiculo</h3>
                </div>
                <div class="conteudo_card">
                    <select [(ngModel)]="selectedVehicle">
                        <option value={{vehicle.id}} *ngFor="let vehicle of vehicles$ | async" [ngValue]="vehicle">
                            {{ vehicle.vehicle }}
                        </option>
                    </select>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Total de vendas</h3>
                </div>
                <div class="conteudo_card">
                    <p *ngIf="selectedVehicle">{{ selectedVehicle.volumetotal }}</p>
                    <span>Unid.</span>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Conectados</h3>
                </div>
                <div class="conteudo_card" >
                    <p *ngIf="selectedVehicle">{{ selectedVehicle.connected }}</p>
                    <span>Unid.</span>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Update Software</h3>
                </div>
                <div class="conteudo_card">
                    <p *ngIf="selectedVehicle">{{selectedVehicle.softwareUpdates}}</p>
                    <span>Unid.</span>
                </div>
            </article>
        </div>

        <div class="area_veiculo" *ngIf="selectedVehicle">
            <img src={{selectedVehicle.img}} alt="imagem veiculo">
        </div>
    </section>
    <app-footer></app-footer>
</main>