<footer class="rodape_desktop">
    <table>
        <thead>
            <tr>
                <th>Código - Vin</th>
                <th>Odômetro</th>
                <th>Nivel de Combustivel</th>
                <th>Status</th>
                <th>Lat.</th>
                <th>Long.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input #vehicleVin type="text" (change)="searchInfoVehicle(vehicleVin.value)"></td>
                <td>
                    <p>{{ infoVehicleFound?.odometro }} Km</p>
                </td>
                <td>
                    <p>{{ infoVehicleFound?.nivelCombustivel }} %</p>
                </td>
                <td>
                    <p>{{ infoVehicleFound?.status }}</p>
                </td>
                <td>
                    <p>{{ infoVehicleFound?.lat }}</p>
                </td>
                <td>
                    <p>{{ infoVehicleFound?.long }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</footer>

<footer class="rodape_mobile">
    <table>
        <tbody>
            <tr>
                <th>Código - Vin</th>
                 <td><input #vehicleVin type="text" (change)="searchInfoVehicle(vehicleVin.value)"></td>
            </tr>
            <tr>
                <th>Odômetro</th>
                <td><p>{{ infoVehicleFound?.odometro }} Km</p></td>
            </tr>
            <tr>
                <th>Nivel de Combustivel</th>
                <td><p>{{ infoVehicleFound?.nivelCombustivel }} %</p></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><p>{{ infoVehicleFound?.status }}</p></td>
            </tr>
            <tr>
                <th>Lat.</th>
                <td><p>{{ infoVehicleFound?.lat }}</p></td>
            </tr>
            <tr>
                <th>Long.</th>
                <td><p>{{ infoVehicleFound?.long }}</p></td>
            </tr>
        </tbody>
    </table>
</footer>