main {
  overflow-x: hidden;
}

.area_ranger {
  width: 100%;
  margin-top: 90px;
}

.area_ranger img {
  width: 100%;
}

.modal_recepcao {
  position: fixed;
  border: black;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #f1f1f15b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal_header {
  background-color: #d1d1d14d;
  width: 100%;
}

.modal_header h1 {
  padding: 10px;
}

p {
  font-size: 22px;
  color: #1351d8;
  padding: 10px;
}