main {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.painel_ranger {
    margin: auto;
    width: 50%;
}

.container_ranger img {
    width: 100%;
}

.section_login {
    background-color: #f1f1f1;
    width: 50%;
}

.logo_container {
    padding: 20px;
    margin: auto;
    width: 40%;
}

.logo_container img {
    width: 100%;
}

.area_login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 209px 30px 0 30px;
    padding: 0 20px 0 20px;
}

h1 {
    margin-bottom: 20px;
    color: #1351d8;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.input_container {
    width: 100%;
}

.input_container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    text-indent: 5%;
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.input_container img {
    width: 3.5%;
    margin: auto;
    position: relative;
    top: -30px;
    left: 10px;
}

#icon_senha_oculta {
    width: 3.5%;
    position: relative;
    left: 87.9%;
    margin: auto;
}

.area_auto_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    margin-bottom: 20px;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #1351d8;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #1348b9;
}

.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1.2em;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: 0.2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: 0.4s;
}

input:checked+.slider::before {
    background-color: var(--primary);
}

input:checked+.slider {
    background-color: var(--secondary-container);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+.slider:before {
    transform: translateX(1em);
}

#info1 {
    position: relative;
    left: 96%;
}

#info2 {
    position: relative;
    top: 55px;
    left: 96%;
}

@media (max-width: 1200px) {
    .input_container img {
        width: 20px;
    }

    #icon_senha_oculta {
        width: 4.5%;
        left: 83%;
    }

}

@media (max-width: 914px) {
     #icon_senha_oculta {
        width: 5.6%;
        left: 78%;
    }
}

@media (max-width: 750px) {
    .painel_ranger {
        display: none;
    }

    .section_login {
        width: 100%;
    }

     #icon_senha_oculta {
        width: 3.5%;
        left: 88.5%;
    }
}

@media (max-width: 650px) {
      #icon_senha_oculta {
        width: 3.5%;
        left: 85.5%;
    }
}

@media (max-width: 500px) {
      #icon_senha_oculta {
        width: 4.5%;
        left: 80.5%;
    }
}

@media (max-width: 392px) {
    .input_container input {
        text-indent: 7%;
    }
}

@media (max-width: 372px) {
    p {
        width: 100%;
        font-size: 14px;
    }

     #icon_senha_oculta {
        width: 6.5%;
        left: 70.5%;
    }
}

@media (max-width: 354px) {
    p {
        width: 100%;
        font-size: 13px;
    }
}