<main>
    <div class="painel_ranger">
        <div class="container_ranger">
            <img src="img/ranger.png" alt="imagem ranger">
        </div>
    </div>
    <section class="section_login">
        <div class="logo_container">
            <img class="logo" src="img/ford.png" alt="logo ford">
        </div>
        <div class="area_login">
            <h1>Boas vindas</h1>
            <form class="form_login" action="submit">
                <div class="input_container">
                    <input type="text" placeholder="Insira seu email" [(ngModel)]="login" name="email">
                    <img src="icons/icon_user.svg" alt="icone de usuario">
                    <span id="info1"><img src="icons/icon_info.svg" alt=""></span>
                </div>
                <div class="input_container">
                    <input type="password" placeholder="Insira sua senha"[(ngModel)]="password" name="senha">
                    <img src="icons/icon_lock.svg" alt="icone de cadeado">
                    <span id="info2"><img src="icons/icon_info.svg" alt=""></span>
                </div>
                <div class="area_auto_login">
                    <p>Logar automaticamente</p>
                    <div>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <button (click)="authentication()">
                    Enviar
                </button>
            </form>
        </div>
    </section>
</main>