<header>
     <button class="botao-hamburguer" (click)="menuAberto = !menuAberto">
        <div class="menu-hamburguer-linha"></div>
        <div class="menu-hamburguer-linha"></div>
        <div class="menu-hamburguer-linha"></div>
    </button>

    <div class="profile">
        <a href="/login"><img src="icons/icon_profile.png" alt=""></a>
    </div>
</header>


<aside class="menu-lateral" [class.ativo]="menuAberto">
    <div class="logo_ford">
        <img src="img/ford.png" alt="logo ford">
    </div>

    
    <nav class="navegacao-hamburguer">
        <strong><a href="./index.html">Home</a></strong>
        <strong><a href="lancamento.html">Dashboard</a></strong>
    </nav>    
</aside>
<div id="overlay" [class.ativo]="menuAberto" (click)="menuAberto = !menuAberto"></div>
