<app-header></app-header>
<main>
    <section>
        <div class="area_titulo">
            <h1>Dashboard FORD</h1>
        </div>
        <div class="area_cards">
            <article class="card" id="card_veiculo">
                <div class="header_card">
                    <h3>Veiculo</h3>
                </div>
                <div class="conteudo_card">
                    <select name="" id="">
                        <option value="Ranger">Ranger</option>
                        <option value="Mustang">Mustang</option>
                        <option value="Territory">Territory</option>
                        <option value="Bronco Sport">Bronco Sport</option>
                    </select>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Total de vendas</h3>
                </div>
                <div class="conteudo_card">
                    <p>1500</p>
                    <span>Unid.</span>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Conectados</h3>
                </div>
                <div class="conteudo_card">
                    <p>500</p>
                    <span>Unid.</span>
                </div>
            </article>

            <article class="card">
                <div class="header_card">
                    <h3>Update Software</h3>
                </div>
                <div class="conteudo_card">
                    <p>750</p>
                    <span>Unid.</span>
                </div>
            </article>
        </div>

        <div class="area_veiculo">
            <img src="img/mustang.png" alt="imagem veiculo">
        </div>
    </section>

    <footer>
        <table>
            <thead>
                <tr>
                    <th>Código - Vin</th>
                    <th>Odômetro</th>
                    <th>Nivel de Combustivel</th>
                    <th>Status</th>
                    <th>Lat.</th>
                    <th>Long.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text"></td>
                    <td>
                        <p>50000 Km</p>
                    </td>
                    <td>
                        <p>90 %</p>
                    </td>
                    <td>
                        <p>On</p>
                    </td>
                    <td>
                        <p>-12,2322</p>
                    </td>
                    <td>
                        <p>-35,2314</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </footer>
</main>